* {
	box-sizing: border-box;
}

:root {
	--text-color-RGB: 0, 0, 0;
	--heading-color-RGB: 75, 37, 0;
	--link-color-RGB: 102, 51, 0;
	--hover-color-RGB: 252, 86, 32;
	--background-color-RGB: 255, 255, 255;
	--cover-background-color-RGB: 248, 238, 225;
}

@font-face {
	font-family: "Inter Display Regular";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local("Inter Display"),
		url("../fonts/InterDisplay-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Inter Display SemiBold";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: local("Inter Display"),
		url("../fonts/InterDisplay-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Inter Display Bold";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: local("Inter Display"),
		url("../fonts/InterDisplay-Bold.woff2") format("woff2");
}

html {
	font-size: 18px;
	line-height: 1.3;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Inter Display", sans-serif;
	color: rgba(var(--text-color-RGB), 1);
	background-color: rgba(var(--background-color-RGB));
}

.wrapper {
	position: relative;
	width: 90.4%;
	margin: 0 auto;

	@media (max-width: 768px) {
		width: 100%;
		padding: 1em;
	}
}

.text-width {
	width: 80%;

	@media (max-width: 768px) {
		width: 100%;
	}
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	padding-top: 2.2em;
	background-color: lightgrey;
}

.menu {
	flex-grow: 1;

	& ul {
		display: flex;
		flex-flow: row nowrap;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	& li {
		margin-right: 16px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.logo {
	margin: 5px 38px 0px 0px;
}

.menu a {
	color: rgba(var(--text-color-RGB), 1);
	text-decoration: none;
}

.menu .active {
	color: rgba(var(--link-color-RGB), 1);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.3em;
	text-decoration-color: rgba(var(--link-color-RGB), 0.5);
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
}

.user-tools {
	display: flex;
	flex-flow: row nowrap;

	& .icon {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
}

footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 4em 0 2em 0;
	background-color: grey;
}

.contacts {
	margin-right: 80px;
}

.footer-menu {
	flex-grow: 1;
}

.contacts ul,
.footer-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contacts li,
.footer-menu li {
	margin-bottom: 8px;
}
.contacts li:last-child,
.footer-menu li:last-child {
	margin-bottom: 0;
}

.contacts a,
.footer-menu a {
	color: rgba(var(--text-color-RGB), 1);
}

.contacts a {
	text-decoration: none;
}

.footer-menu a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.3em;
	text-decoration-color: rgba(var(--text-color-RGB), 0.2);
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
}

.social-links {
	display: flex;
	flex-flow: row nowrap;
	align-self: flex-end;
	line-height: 0;
	font-size: 0;

	& .icon {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
}
