* {
	box-sizing: border-box;
}

:root {
	--text-color-RGB: 0, 0, 0;
	--heading-color-RGB: 75, 37, 0;
	--link-color-RGB: 102, 51, 0;
	--hover-color-RGB: 252, 86, 32;
	--background-color-RGB: 255, 255, 255;
	--cover-background-color-RGB: 248, 238, 225;
	--wrapper-width: 90.4;
}

@font-face {
	font-family: "Root UI";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local("PT Root UI"),
		url("../fonts/pt-root-ui_regular.woff2") format("woff2");
}

@font-face {
	font-family: "Root UI";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: local("PT Root UI"),
		url("../fonts/pt-root-ui_medium.woff2") format("woff2");
}

@font-face {
	font-family: "Root UI";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: local("PT Root UI"), url("../fonts/pt-root-ui_bold.woff2") format("woff2");
}

html {
	/* 	font-size: 18px; */
	line-height: 1.2;
	scroll-behavior: smooth;

	--mobile-viewport-min: 320;
	--mobile-desktop-breakpoint: 768;
	--desktop-viewport-base: 1000;
	--desktop-viewport-max: 1500;

	--mobile-font-size-min: 14;
	--mobile-font-size-max: 32;

	--desktop-font-size-min: 12.5;
	--desktop-font-size-base: 24;
	--desktop-font-size-max: 32;

	font-size: calc(var(--mobile-font-size-min) * 1px);

	@media screen and (min-width: 320px) {
		font-size: calc(
			var(--mobile-font-size-min) * 1px +
				(var(--mobile-font-size-max) - var(--mobile-font-size-min)) *
				(
					(100vw - var(--mobile-viewport-min) * 1px) /
						(var(--mobile-desktop-breakpoint) - var(--mobile-viewport-min))
				)
		);
	}

	@media screen and (min-width: 768px) {
		font-size: calc(
			var(--desktop-font-size-min) * 1px +
				(var(--desktop-font-size-base) - var(--desktop-font-size-min)) *
				(
					(100vw - var(--mobile-desktop-breakpoint) * 1px) /
						(var(--desktop-viewport-base) - var(--mobile-desktop-breakpoint))
				)
		);
	}

	@media screen and (min-width: 1000px) {
		font-size: calc(
			var(--desktop-font-size-base) * 1px +
				(var(--desktop-font-size-max) - var(--desktop-font-size-base)) *
				(
					(100vw - var(--desktop-viewport-base) * 1px) /
						(var(--desktop-viewport-max) - var(--desktop-viewport-base))
				)
		);
	}

	@media screen and (min-width: 1500px) {
		font-size: calc(var(--desktop-font-size-max) * 1px);
	}
}

body {
	margin: 0;
	font-family: "Root UI", Inter, sans-serif;
	color: rgba(var(--text-color-RGB), 1);
	background-color: rgba(var(--background-color-RGB), 1);
}

.wrapper {
	position: relative;
	width: calc(var(--wrapper-width) * 1%);
	margin: 0 auto;

	@media (max-width: 768px) {
		width: 100%;
		padding: 1em;
	}
}

.text-width {
	width: 80%;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.hero {
	background: rgb(var(--cover-background-color-RGB), 1);
	overflow: hidden;
}

.hero-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.hero-model {
	display: block;
	width: 100%;
	max-width: 681px;
	flex-shrink: 0;
	margin-left: calc((100vw - (var(--wrapper-width) * 1vw)) / -2);
}

.hero-text {
	width: 36%;
	margin-left: auto;
	/* 	padding-bottom: 3rem; */
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	padding-top: 2.4em;
	font-size: 0.75em;
}

.menu {
	flex-grow: 1;

	& ul {
		display: flex;
		flex-flow: row nowrap;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	& li {
		margin-right: 14px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.logo {
	margin: 5px 38px 0px 0px;
}

.menu a {
	color: rgba(var(--text-color-RGB), 1);
	text-decoration: none;
}

.menu .active {
	color: rgba(var(--link-color-RGB), 1);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.3em;
	text-decoration-color: rgba(var(--link-color-RGB), 0.5);
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
}

.user-tools {
	display: flex;
	flex-flow: row nowrap;

	& .icon {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
}

footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 4em 0 2em 0;
	background-color: grey;
	font-size: 0.75em;
}

.contacts {
	margin-right: 80px;
}

.footer-menu {
	flex-grow: 1;
}

.contacts ul,
.footer-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contacts li,
.footer-menu li {
	margin-bottom: 8px;
}
.contacts li:last-child,
.footer-menu li:last-child {
	margin-bottom: 0;
}

.contacts a,
.footer-menu a {
	color: rgba(var(--text-color-RGB), 1);
}

.contacts a {
	text-decoration: none;
}

.footer-menu a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.3em;
	text-decoration-color: rgba(var(--text-color-RGB), 0.2);
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
}

.social-links {
	display: flex;
	flex-flow: row nowrap;
	align-self: flex-end;
	line-height: 0;
	font-size: 0;

	& .icon {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
}

h1 {
	font-family: Rubik Bubbles, Inter, sans-serif;
	font-size: 5.5em;
}

.hero-caption,
.name {
	font-weight: 700;
}

.name {
	color: rgba(var(--link-color-RGB), 1);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.3em;
	text-decoration-color: rgba(var(--link-color-RGB), 0.5);
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
}

.price {
	font-family: Pangolin, Inter, sans-serif;
	font-size: 2.6em;
}
